{%  extends "base.html" %}
{%block content %}
   <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <title>Login</title>
</head>
<body>
    <style> 
        #Signup_link{
            text-decoration: none;

        }
        </style>
    <h2>Login</h2>
<!--Let add some HTMX so let ad the CDN link for HTMX inside our head tag
 Then add the hx-post to our login and an hx-target method which is equal to id and then crated a div with id result 
-->
    <form hx-post="/login" hx-target="#result">
        <input type="name" name="username" id="" placeholder="Username"> <br>
       <input type="password" name="password" id="" placeholder="Password">
      <button type="submit">Login</button>
    </form>
    <div id="result"></div>
     <br>
    
    <a href="SignUp.html" id="Signup_link">SignUp</a>

</body>
{% endblock %}