{%extends "base.html"%}
{%block content%}
    <title>Register</title>
</head>
<body>
    <h2>SignUp</h2>

    <form action="" hx-post="/SignUp" hx-target="#result"> 
      <input type="text" name="username" id="" placeholder="Username"> <br>
      <input type="email" name="email" id="email" placeholder="Enter your address"><br>
      <input type="password" name="password" id="password" placeholder="Password">
      <button type="submit" class="">SignUp</button>
    </form>

    <div id="result"></div>
   
     <a href="login.html" style="padding: 0.5rem;position: relative; margin: 0.5rem;font-size: 1.3rem;">Login</a>
</body>
{%endblock%}